<form action="/snack/<%=@snack.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <br>
  <input type="text" name="data[content]" value="<%= @snack.content %>">

  <br>
  <input type="submit" value="edit post">
</form>
