<div class="container">

   <a href="/">View all tweets</a>


  <a href="/snack/new">Add a Snack</a>


  <%@snacks.reverse.each do |snack|  %>
  <p><strong> <%= User.find(snack.user_id).handle %> </strong>
  <a href="/snack/<%=snack.id%>"><%= snack.content %></a></p>
  <% end %>
</div>
