<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" "href=""> -->
</head>
<body>
  <div class="homebutton">
    <a href="/homepage">Return Home</a>
  </div>

  <div class="login">
    <% if session_current_user %>
    <a href="/logout">Logout</a><br><br>
    <div class="profile">
    <a href="/profile"> View Profile </a>
  </div>
      <% else %>
      <a href="/login">Login</a>
      <a href="/register"> Sign Up </a>
      <% end %>
    </div>

    <%= yield %>
  </body>

  </html>
