<!DOCTYPE html>
<head>
<!-- <link rel="stylesheet" "href=""> -->
</head>

<div class="homebutton">
  <a href="/homepage">Return Home</a>


</div>

<div class="login" float="right">
  <% if session[:current_user_id] == nil %>
  <a href="/login">Login</a>
  <% else %>
  <a href="/profile">
    <p> <%= User.find(session[:current_user_id]).name %> </p></a>
  <% end %>
</div>
<body>

<%= yield %>
</body>

</html>
