<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" "href=""> -->
</head>
<body>
  <div class="homebutton">
    <a href="/homepage">Home</a>
  </div>
  <h1>Snacker</h1>

    <div class="login">
      <% if session_current_user == nil %>
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
        <% else %>
        <a href="/profile"> View Profile </a>
        <a href="/logout">Logout</a><br><br>
      <% end %>
    </div>

    <%= yield %>
  </body>

  </html>
