<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
  </head>
    <body>
        <div id="header">
            <ul>
              <a href="index.html">Home</a>
              <a href="#">Logout</a>
            </ul>
        </div><!DOCTYPE html>

<link rel="stylesheet" "href="">
</head>

<div class="homebutton">
  <a href="/homepage">Return Home</a>


</div>

<div class="login" float="right">
  <% if session[:current_user_id] == nil %>
  <a href="/login">Login</a>
  <% else %>
  <a href="/profile">
    <p> <%= User.find(session[:current_user_id]).name %> </p></a>
  <% end %>
</div>

<body>
  <div class="homebutton">
    <a href="/homepage">Return Home</a>
  </div>

  <div class="login">
    <% if session_current_user %>
    <a href="/logout">Logout</a><br><br>
    <div class="profile">
    <a href="/profile"> View Profile </a>
  </div>
      <% else %>
      <a href="/login">Login</a>
      <a href="/register"> Sign Up </a>
      <% end %>
    </div>


    <%= yield %>
  </body>

  </html>
