<div class="">

<form action='/login' method="post">
Handle: <input type="text" name="handle" placeholder="enter your handle">
Password: <input type="password" name="password" placeholder="and your password">
<input type="submit" value="Log in!">

</form>

</div>
