<p>Welcome <%= User.find(session[:current_user_id]).name %></p>

<div class="container">
  <%id = session[:current_user_id] %>
  <%array = Tweet.where(user_id: id) %>
  <%array.each do |snack|%>
  <a href="/snack/<%=snack.id%>"><p><%= snack.content %></p></a>
  <% end %>
</div>

