<!DOCTYPE html>
<div class="">

<% if @new_user != nil %>
  <p>Invalid Handle!</p>
<% end %>

  <form action='/register' method="post">
    Choose your Handle: <input type="text" name="handle" placeholder="Handle">
    <br><br>
    Pick a good Password: <input type="password" name="password" placeholder="Password">
    <br><br>
    What's your Name: <input type="text" name="name" placeholder="Full name">
    <br><br>
    <input type="submit" value="Register!">
  </form>

</div>
