<div class="container">
  <% @snack  %>
  <h3> SNACK: </h3>
  <p><%= @snack.content %></p>
  <p> Tweet Id:</p>
  <p><%= @snack.id %></p>

  <a href="/snack/<%=@snack.id%>/edit">Edit Post</a>

<form action="/snack/<%=@snack.id%>" method="post">
  <input name="_method" type="submit" value="delete">
</form>

</div>




